<article>
  <header><h2>Create studio</h2></header>

  <form class="container"  #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="name">Name:</label>
          <input id="name" name="name" [(ngModel)]="studio.name"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="owner">Owner:</label>
          <input id="owner" name="owner" [(ngModel)]="studio.owner"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="numberOfWorkers">Number of workers:</label>
          <input id="numberOfWorkers" name="numberOfWorkers" [(ngModel)]="studio.numberOfWorkers"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="yearsOfExperience">Years of experience:</label>
          <input id="yearsOfExperience" name="yearsOfExperience" [(ngModel)]="studio.yearsOfExperience"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2 p-2">
        <button type="submit">Create</button>
      </div>
    </div>

  </form>
</article>
