<article *ngIf="movie">
    <header><h2>{{movie.title}}</h2></header>

    <div class="container">
        <div class="row">
            <div class="col-4">

                <div class="row mb-2">
                    <div class="col-6">
                        <b>Director</b>
                    </div>
                    <div class="col-6">
                        <span>{{movie.director}}</span>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-6">
                        <b>Publisher</b>
                    </div>
                    <div class="col-6">
                        <span>{{movie.publisher}}</span>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-6">
                        <b>Year of publication</b>
                    </div>
                    <div class="col-6">
                        <span>{{movie.yearOfPublication}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
